@charset "utf-8";
body{background-color: antiquewhite;}
h1{
    border: 3px solid;
    border-radius: 20px;
    text-align: center;
}
ul{
    width: 200px;
    margin: auto;
}
a{
    background-color: #f88;
    display: block;
    margin-bottom: 20px;
    text-align: center;
    text-decoration:none;
}
p,ul{
    text-align: center;
}