@charset "utf-8";
body{background-color: antiquewhite;}
h1{
    border: 3px solid;
    border-radius: 20px;
    text-align: center;
}
a{
    background-color: #f88;  
    text-decoration:none;
}